mixin register-amp-scripts()
    script(async, custom-element="amp-bind", src="https://cdn.ampproject.org/v0/amp-bind-0.1.js")
    script(async, custom-element="amp-form", src="https://cdn.ampproject.org/v0/amp-form-0.1.js")
    script(async, custom-element="amp-script", src="https://cdn.ampproject.org/v0/amp-script-0.1.js")